{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Write a post</h1>

    <form action="{{ url_for('post_create') }}" method="post">

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control form-control-sm" type="text" id="title" name="title"
                        placeholder="Enter a title…">
                </div>
            </div>
            <div class="col">
                <label for="category">
                    Category
                </label>
                <input class="form-control form-control-sm" type="text" name="category" id="category"
                    placeholder="Enter a category…">
            </div>
        </div>


        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" name="content" id="content" cols="30"
                rows="10"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

{% endblock %}
